.destaque-content{
    width: 100vw;
    height: 70vh;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.destaque-content .text{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-left: 5rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0) 90%);
    
}
.destaque-content .bg{
    width: 100%;
    height: 100%;
    position: static;
    top: 0;
    left: 0;
}